* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  background: linear-gradient(to right, #6a11cb, #2575fc);
}

form{
  background: white;
  padding: 36px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(36, 8, 127, 0.2);
  width: 100%;
  max-width: 500px;
  
}
label, input {
  display: block;
}

label{
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input{
  padding: 16px;
  margin-bottom: 20px;
  border: 1px, solid, #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  font-size: 16px;
  width: 100%;
}

button{
  background: #2575fc;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;


}

input:focus{
  border-color:#1b58c1;
  outline: none;
}

button:hover{
  background: #1b58c1;
  cursor: pointer;
}